node_modules
.env
*.log
backend/createAdmin.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
dist
dist-ssr
*.local
uploads/chat/*
uploads/event/*
uploads/user/*
uploads/registration/*
!uploads/chat/.gitkeep
!uploads/event/.gitkeep
!uploads/user/.gitkeep
!uploads/registration/.gitkeep